@import "../../node_modules/bootstrap/scss/bootstrap";



.breadcrumb .breadcrumb-item a {
  text-decoration: none;
  color: $body-color;

  &:hover {
    color: $primary;
  }
}


.breadcrumb-item {
  display: inline-flex;
  align-items: center;
  font-size: $small-font-size;
}

.breadcrumb-item+.breadcrumb-item::before {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  width: 0.9em;
  height: 0.9em;
  min-width: 12px;
}



@import "./styles/custom-variables";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";
